/* .caja{
    background-color: darkblue;
    height: 200px;
    width: 200px;
    margin: auto;
    transition: background-color 1s ease-in-out;
}

.caja:hover{
    background-color: color-mix(in srgb, darkblue 50%, red)
} */

/* @property --color-fondo {
    syntax: '<color>';
    inherits: false;
    initial-value: #fff;
}

body {
    background-color: var(--color-fondo);
    transition: --color-fondo 0.9s ease-in-out;
}

body:hover {
    --color-fondo: #4CAF50;
} */


/* .caja {
    width: min(500px, 50%);
    background-color: bisque;
    height: 500px;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
} */

/* 
.caja {
    width: clamp(200px, 50%, 500px);
    background-color: bisque;
    height: 500px;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
}

.container {
    width: calc(100% - 320px);
    padding: 30px;
    background-color: #4CAF50;
}

.fuente {
    font-size: calc(1rem + 1vw);
}


:root {
    --color-principal: #4CAF50;
    --color-secundario: #f44336;
    --tamaño-grande: 2rem;
    --tamaño-pequeño: 1rem;
    --fuente-principal: 'Arial', sans-serif;
    --fuente-secundaria: 'Courier New', monospace;
}

h1 {
    color: var(--color-principal);
    font-size: var(--tamaño-grande);
    font-family: var(--fuente-principal);
}

p {
    color: var(--color-secundario);
    font-size: var(--tamaño-pequeño);
    font-family: var(--fuente-secundaria);
} */