
section:is(.destacado) {
    color: red;
    font-weight: bold;
}    

section:where(.destacado) {
    color: green;
    font-weight: bold;
}

/* Clase 2 - Fin */

/* :is(h1, h2, h3) {
    color: blue;
    text-transform: uppercase;
    text-align: center;
}

:is(article, section, aside) a{
    color:aqua;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
} */

/* Clase 1 - Fin */

/* div:has(p) {
    border: 2px solid blue;
    padding: 10px;
    background-color: lightgreen;
}

label:has(input:checked) {
    color: green;
    font-weight: bold;
}

table:has(tr) + p {
    display: block;
    color: seagreen;
}

p {
    display: none;
} */